Repository ianhomer/try-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{json,ts,tsx,yaml}": "prettier --write",
  "*.{js,ts,tsx}": "eslint"
}

👷 separate out install, build and test
  .github/workflows/build.yml
Due: none

✅ instanceof test
  packages/try-typescript-scratch/package.json
  packages/try-typescript-scratch/src/core/types.spec.ts
  packages/try-typescript-scratch/src/core/types.ts
Due: prettier --write, eslint

✅ extends class
  packages/try-typescript-scratch/src/core/types.spec.ts
  packages/try-typescript-scratch/src/core/types.ts
Due: prettier --write, eslint

✅ add interfaces
  packages/try-typescript-scratch/src/core/types.spec.ts
  packages/try-typescript-scratch/src/core/types.ts
Due: prettier --write, eslint

⬆️ upgrade node modules
  package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  packages/try-typescript-scratch/package.json
  pnpm-lock.yaml
Due: prettier --write

🔨 add update script
  .github/workflows/build.yml
  .github/workflows/update.yml
  package.json
Due: prettier --write

📦️ add find-config type
  packages/try-typescript-node/package.json
  pnpm-lock.yaml
Due: prettier --write

🔨 remove bootstrap from update process
  .github/workflows/update.yml
Due: none

🐛 map null to undefined
  packages/try-typescript-node/src/index.ts
Due: prettier --write, eslint

Auto-update
  pnpm-lock.yaml
Due: prettier --write

🔧 change user email for commits to auto at my domain
  .github/workflows/update.yml
Due: none

✨ licenses and kick off feature scratch pad
  LICENSE
  package.json
  packages/try-typescript-features/package.json
  packages/try-typescript-features/src/fundamentals.ts
  packages/try-typescript-features/src/index.ts
  packages/try-typescript-features/tsconfig.json
  packages/try-typescript-node/package.json
  packages/try-typescript-node/tsconfig.json
  packages/try-typescript-react/package.json
  packages/try-typescript-react/tsconfig.json
  packages/try-typescript-scratch/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🔨 add clean proceedure
  package.json
  packages/try-typescript-features/package.json
  packages/try-typescript-features/tsconfig.json
  packages/try-typescript-node/package.json
  packages/try-typescript-scratch/package.json
  pnpm-lock.yaml
Due: prettier --write

✨ foundations for feature playground
  .github/workflows/build.yml
  package.json
  packages/try-typescript-features/package.json
  packages/try-typescript-features/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

📦️ package lock
  pnpm-lock.yaml
Due: prettier --write

📝 Improve readme
  README.md
Due: none

decorators and types
  packages/try-typescript-features/src/decorators.ts
  packages/try-typescript-features/src/fundamentals.ts
  packages/try-typescript-features/src/index.ts
  packages/try-typescript-features/src/interfaces.ts
  packages/try-typescript-features/src/scratch.ts
  packages/try-typescript-features/src/types.ts
  packages/try-typescript-features/tsconfig.json
Due: prettier --write, eslint

generics and types
  packages/try-typescript-features/src/generics.ts
  packages/try-typescript-features/src/index.ts
  packages/try-typescript-features/src/types.ts
Due: prettier --write, eslint

typeof
  packages/try-typescript-features/src/types.ts
Due: prettier --write, eslint

indexed access type
  packages/try-typescript-features/src/types.ts
Due: prettier --write, eslint

noImplicitAny and strictNullChecks on
  packages/try-typescript-features/tsconfig.json
Due: prettier --write

Intersections and unions
  packages/try-typescript-scratch/src/core/types.spec.ts
  packages/try-typescript-scratch/src/core/types.ts
Due: prettier --write, eslint

declarations
  packages/try-typescript-features/src/interfaces.ts
  packages/try-typescript-features/src/my.d.ts
  packages/try-typescript-features/src/use-declared.ts
Due: prettier --write, eslint

global variable declaration
  packages/try-typescript-features/src/my.d.ts
  packages/try-typescript-features/src/use-declared.ts
Due: prettier --write, eslint

Auto-update
  package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  packages/try-typescript-scratch/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-features/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  packages/try-typescript-scratch/package.json
  pnpm-lock.yaml
Due: prettier --write

enum experiment
  packages/try-typescript-scratch/package.json
  packages/try-typescript-scratch/src/core/enum.spec.ts
  packages/try-typescript-scratch/src/core/enum.ts
Due: prettier --write, eslint

✅ change from mocha to jest
  packages/try-typescript-scratch/babel.config.cjs
  packages/try-typescript-scratch/jest.config.cjs
  packages/try-typescript-scratch/package.json
  packages/try-typescript-scratch/src/core/enum.test.ts
  packages/try-typescript-scratch/src/core/types.spec.ts
  packages/try-typescript-scratch/src/core/types.test.ts
  packages/try-typescript-scratch/src/greeter.test.ts
  packages/try-typescript-scratch/src/hello.test.ts
  packages/try-typescript-scratch/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint

🚨 correct tsconfig
  packages/try-typescript-scratch/tsconfig.json
Due: prettier --write

move feature experimentation into core experiments
  packages/try-typescript-core/README.md
  packages/try-typescript-core/babel.config.cjs
  packages/try-typescript-core/jest.config.cjs
  packages/try-typescript-core/package.json
  packages/try-typescript-core/src/core/enum.test.ts
  packages/try-typescript-core/src/core/enum.ts
  packages/try-typescript-core/src/core/types.test.ts
  packages/try-typescript-core/src/core/types.ts
  packages/try-typescript-core/src/decorators.ts
  packages/try-typescript-core/src/generics.ts
  packages/try-typescript-core/src/greeter.test.ts
  packages/try-typescript-core/src/greeter.ts
  packages/try-typescript-core/src/hello.test.ts
  packages/try-typescript-core/src/hello.ts
  packages/try-typescript-core/src/index.ts
  packages/try-typescript-core/src/interfaces.ts
  packages/try-typescript-core/src/my.d.ts
  packages/try-typescript-core/src/scratch.ts
  packages/try-typescript-core/src/types.test.ts
  packages/try-typescript-core/src/types.ts
  packages/try-typescript-core/src/use-declared.ts
  packages/try-typescript-core/tsconfig.json
  packages/try-typescript-features/package.json
  packages/try-typescript-features/src/index.ts
  packages/try-typescript-features/src/types.ts
  packages/try-typescript-features/tsconfig.json
Due: prettier --write, eslint

update package lock
  pnpm-lock.yaml
Due: prettier --write

correct compilation issues
  packages/try-typescript-core/src/decorators.ts
  packages/try-typescript-core/src/interfaces.ts
  packages/try-typescript-core/tsconfig.json
Due: prettier --write, eslint

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  pnpm-lock.yaml
Due: prettier --write
