Repository ianhomer/try-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-node/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  pnpm-lock.yaml
Due: prettier --write

⚗️ test object
  packages/try-typescript-core/src/core/objects.test.ts
  packages/try-typescript-core/src/core/objects.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

📦️ update package lock file
  pnpm-lock.yaml
Due: prettier --write

👷 run build on update
  .github/workflows/build.yml
Due: none

👷 roll up git action versions
  .github/workflows/build.yml
Due: none

Auto-update
  package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,ts,tsx,yaml}
  eslint: any of: *.{js,ts,tsx}
