Repository ianhomer/try-typescript: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{json,ts,tsx,yaml}": "prettier --write",
  "*.{js,ts,tsx}": "eslint"
}

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  pnpm-lock.yaml
Due: prettier --write

👷 update CI to node v22
  .github/workflows/build.yml
  .github/workflows/update.yml
Due: none

👷 upgrade husky and correct config for v9
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ upgrade eslint (with flat config false to ease migration)
  .husky/pre-commit
  package.json
  packages/try-typescript-core/babel.config.cjs
  packages/try-typescript-core/jest.config.cjs
  packages/try-typescript-core/package.json
  packages/try-typescript-core/src/decorators.ts
  packages/try-typescript-react/index.html
  packages/try-typescript-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

📦️ upgrade eslint (with flat config false to ease migration) (#50)
  .husky/pre-commit
  package.json
  packages/try-typescript-core/babel.config.cjs
  packages/try-typescript-core/jest.config.cjs
  packages/try-typescript-core/package.json
  packages/try-typescript-core/src/decorators.ts
  packages/try-typescript-react/index.html
  packages/try-typescript-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

📦️ upgrade all node packages to latest
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ upgrade all node packages to latest (#51)
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 use flat eslint config
  .github/workflows/build.yml
  .husky/pre-commit
  eslint.config.mjs
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-core/src/core/enum.ts
  packages/try-typescript-node/package.json
  packages/try-typescript-node/src/app.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

💚 remove main step which no longer exists
  .github/workflows/build.yml
Due: none

🚨 use flat eslint config (#52)
  .github/workflows/build.yml
  .husky/pre-commit
  eslint.config.mjs
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-core/src/core/enum.ts
  packages/try-typescript-node/package.json
  packages/try-typescript-node/src/app.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

♻️ switch from render to createRoot
  packages/try-typescript-react/package.json
  packages/try-typescript-react/src/components/Hello.test.tsx
  packages/try-typescript-react/tsconfig.json
  packages/try-typescript-react/webpack.config.js
  pnpm-lock.yaml
Due: prettier --write, eslint

♻️ use jest (and babel) not react-scripts
  packages/try-typescript-react/babel.config.js
  packages/try-typescript-react/jest.config.cjs
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

♻️ use jest (and babel) not react-scripts (#53)
  packages/try-typescript-react/babel.config.js
  packages/try-typescript-react/jest.config.cjs
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

🚨 Eslint ignore from gitignores
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/try-typescript-react/babel.config.js
  packages/try-typescript-react/jest.config.cjs
  pnpm-lock.yaml
Due: prettier --write, eslint

Auto-update
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  packages/try-typescript-core/package.json
  pnpm-lock.yaml
Due: prettier --write

Auto-update
  package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ upgrade webpack
  package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ upgrade webpack (#54)
  package.json
  packages/try-typescript-react/package.json
  pnpm-lock.yaml
Due: prettier --write

📦️ upgrade packages
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  packages/try-typescript-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

📦️ upgrade packages (#55)
  package.json
  packages/try-typescript-core/package.json
  packages/try-typescript-node/package.json
  packages/try-typescript-react/package.json
  packages/try-typescript-react/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint
